.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin-top: 60px;
    background: rgba(39, 38, 38, 0.888);
    height: 100px;
}

p {
    cursor: pointer;
}

p:hover {
    color: #fd7d06;
}