.header {
    margin-bottom: 20px;
}

.registro-icon {
    background: #fd7d06;
    width: 94px;
    height: 44px;
    border: 0;
    padding: 0;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    cursor: pointer;
}