.button-form-users button{
  background-color: #fd7d06;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
}

.button-logout-register{
  display: flex;
  justify-content:space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.button-form-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 140px;
  margin-bottom: 20px;
  margin-left: 94px;
}

.form-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.form-card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  height: 190px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-card p {
  margin: 5px 0;
}

.form-card button {
  background-color: #fd7d06;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Courier New', Courier, monospace;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
  width: 300px;
}

.form-card button:last-child {
  margin-right: 0;
}

.form-card button:hover {
  background-color: #000;
  color: #fff;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.user-item {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  height: 280px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-item button {
  background-color: #fd7d06;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Courier New', Courier, monospace;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
  width: 280px;
}

.user-item button:last-child {
  margin-right: 0;
}

.user-item button:hover {
  background-color: #000;
  color: #fff;
}

.user-item p {
  margin-bottom: 2px;
}

.user-item h2 {
  margin-bottom: 2px;
}


