.form-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
  }
  
  .form-card {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 20px;
    height: 160px;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 0;
  }
  
  .form-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-card p {
    margin: 5px 0;
  }
  
  .form-card button {
    background-color: #fd7d06; 
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px; 
    transition: background-color 0.3s, color 0.3s;
    font-family:'Courier New', Courier, monospace;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
  }
  
  .form-card button:last-child {
    margin-right: 0; 
  }
  
  .form-card button:hover {
    background-color: #000; 
    color: #fff; 
  }
  